img {
  max-width: 140px;
  border-radius: 50%;
}

ion-grid{
  --ion-grid-padding : 0px !important;
  margin-left : 0px !important;
  margin-right : 0px !important;
}

ion-select{
  max-width: 100% !important;
  width: 100%;
}