super-tabs-toolbar{
    --super-tabs-toolbar-background : var(--ion-item-background, white);
    --st-indicator-color : var(--ion-color-primary, #3880ff);
    --st-indicator-height : 3px;
    --st-scrollable-toolbar-padding-left:0px;
  }
ion-header::after{
    height: 0px !important;
  }

.back-button{
    --background : white;
    --color:black;
    --box-shadow : 0px;
    --border:0px;
  }

  .make-prediction{
    position: fixed;
    bottom: 25px;
    width: 100%;
    ion-button{
      --border-radius: 20px;
      --padding-bottom : 20px;
      --padding-top : 20px;
    }
}

ion-content{
    position: relative;
}

ion-back-button{
  width : 30px !important;
}