<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button animateOnScroll animationName="animated fadeInRight" color="primary" defaultHref="/app/tabs/home"></ion-back-button>
    </ion-buttons>

    <ion-title>Forgot Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="login-logo">
    <img src="assets/img/appicon.svg" alt="Ionic logo">
  </div>

  <form #forgotPasswordForm="ngForm" novalidate>
    <ion-list>
      <ion-item>
        <ion-label position="stacked" color="primary">Username</ion-label>
        <ion-input [(ngModel)]="forgotPassword.username" name="username" type="text" #username="ngModel" spellcheck="false" autocapitalize="off"
          required>
        </ion-input>
      </ion-item>

      <ion-text color="danger">
        <p [hidden]="username.valid || submitted === false" class="ion-padding-start">
          Username is required
        </p>
      </ion-text>

      <ion-item>
        <ion-label position="stacked" color="primary">Registered E-Mail</ion-label>
        <ion-input [(ngModel)]="forgotPassword.email" name="email" type="text" #email="ngModel" required>
        </ion-input>
      </ion-item>

      <ion-text color="danger">
        <p [hidden]="email.valid || submitted === false" class="ion-padding-start">
          E-mail is required
        </p>
      </ion-text>
    </ion-list>

    <ion-row>
      <ion-col>
        <ion-button (click)="sendForgotPassword()"  [class.button-disabled]="!forgotPasswordForm.form.valid || (actionInProgress$ | async)" type="submit" expand="block">Send password reset E-Mail</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-button (click)="login($event)" color="light" expand="block">Login</ion-button>
    </ion-row>
  </form>

</ion-content>
