<ion-header translucent="true">
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col size="2">
          <ion-buttons>
            <ion-back-button animateOnScroll animationName="animated fadeInRight" defaultHref="/contest"  ></ion-back-button>
          </ion-buttons>
        </ion-col>
        <ion-col size="10">
          <ion-row>
            <ion-col>
              <ion-title>{{selectedMatch.team1ShortName}} vs {{selectedMatch.team2ShortName}}</ion-title>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>


<ion-content>  

  <super-tabs activeTabIndex="0"  [config]="config">    
    <super-tabs-toolbar slot="top" scrollable="true" scrollablePadding="true">
    <super-tab-button>
      <!-- <ion-icon name="star"></ion-icon> -->
      <ion-label>Leaderboard</ion-label>
    </super-tab-button>
    <super-tab-button>
      <!-- <ion-icon name="contacts"></ion-icon> -->
      <ion-label>Scorecard</ion-label>
    </super-tab-button>
    <super-tab-button>
      <!-- <ion-icon name="person"></ion-icon> -->
      <ion-label>Winnings</ion-label>
    </super-tab-button>
    <super-tab-button>
      <!-- <ion-icon name="person"></ion-icon> -->
      <ion-label>Rules</ion-label>
    </super-tab-button>
    </super-tabs-toolbar>
    <super-tabs-container autoScrollTop>
      <super-tab>
        <app-contest-leaderboard></app-contest-leaderboard>
      </super-tab>
      <super-tab>
       <app-scorecard></app-scorecard>
      </super-tab>
      <super-tab>
        Winnings
      </super-tab>
      <super-tab>
        <app-contest-rules></app-contest-rules>
      </super-tab>
    </super-tabs-container>
    </super-tabs>
</ion-content>