<ion-header translucent="true">
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col size="2">
          <ion-buttons>
            <ion-icon name="arrow-back-outline" (click)="backHome()"></ion-icon>
          </ion-buttons>
        </ion-col>
        <ion-col size="10">
          <ion-row>
            <ion-col>
              <ion-title>{{selectedContest.team1}} vs {{selectedContest.team2}}</ion-title>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>


<ion-content>  

  <super-tabs activeTabIndex="0"  [config]="config">    
    <super-tabs-toolbar slot="top" scrollable="true" scrollablePadding="true">
    <super-tab-button>
      <!-- <ion-icon name="star"></ion-icon> -->
      <ion-label>Leaderboard</ion-label>
    </super-tab-button>
    <super-tab-button>
      <!-- <ion-icon name="contacts"></ion-icon> -->
      <ion-label>Winings</ion-label>
    </super-tab-button>
    <super-tab-button>
      <!-- <ion-icon name="person"></ion-icon> -->
      <ion-label>Rules</ion-label>
    </super-tab-button>
    </super-tabs-toolbar>
    <super-tabs-container autoScrollTop>
      <super-tab>
        <app-contest-leaderboard></app-contest-leaderboard>
      </super-tab>
      <super-tab>
        <!-- <ion-nav [root]="winningsPage"></ion-nav> -->
      </super-tab>
      <super-tab>
        <!-- <ion-nav [root]="rulesPage"></ion-nav> -->
      </super-tab>
    </super-tabs-container>
    </super-tabs>
</ion-content>