<ion-content class="ion-padding">
  <h4>T20 - Rules</h4>
        <ion-grid>
          <ion-row>
            <ion-col size="3">
              Role/Team
            </ion-col>
            <ion-col size="2">
              Range 
            </ion-col>
            <ion-col size="7">
              Per Run/wicket(Points) 
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="3">
              Batter
            </ion-col>
            <ion-col size="2">
              {{t20_bat}} 
            </ion-col>
            <ion-col size="7">
              1
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="3">
              Bowler
            </ion-col>
            <ion-col size="2">
              {{t20_bowl}} 
            </ion-col>
            <ion-col size="7">
              5
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="3">
              Team
            </ion-col>
            <ion-col size="2">
              {{t20_team}} 
            </ion-col>
            <ion-col size="7">
              1
            </ion-col>
          </ion-row>
        </ion-grid>


        <h4>ODI - Rules</h4>
        <ion-grid>
          <ion-row>
            <ion-col size="3">
              Role/Team
            </ion-col>
            <ion-col size="2">
              Range 
            </ion-col>
            <ion-col size="7">
              Per Run/wicket(Points) 
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="3">
              Batter
            </ion-col>
            <ion-col size="2">
              {{odi_bat}} 
            </ion-col>
            <ion-col size="7">
              1
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="3">
              Bowler
            </ion-col>
            <ion-col size="2">
              {{odi_bowl}} 
            </ion-col>
            <ion-col size="7">
              5
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="3">
              Team
            </ion-col>
            <ion-col size="2">
              {{odi_team}} 
            </ion-col>
            <ion-col size="7">
              1
            </ion-col>
          </ion-row>
        </ion-grid>



        <h4>TEST - Rules</h4>
        <ion-grid>
          <ion-row>
            <ion-col size="3">
              Role/Team
            </ion-col>
            <ion-col size="2">
              Range 
            </ion-col>
            <ion-col size="7">
              Per Run/wicket(Points) 
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="3">
              Batter
            </ion-col>
            <ion-col size="2">
              {{test_bat}} 
            </ion-col>
            <ion-col size="7">
              1
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="3">
              Bowler
            </ion-col>
            <ion-col size="2">
              {{test_bowl}} 
            </ion-col>
            <ion-col size="7">
              5
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="3">
              Team
            </ion-col>
            <ion-col size="2">
              {{test_team}} 
            </ion-col>
            <ion-col size="7">
              1
            </ion-col>
          </ion-row>
        </ion-grid>
</ion-content>